<nav class=" navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        Guia Press
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link">Categoria</a>
        </li>
    </ul>
</nav> 