<%- include ('../../partials/header.ejs') %>

<%- include ('../../partials/navbar.ejs') %>

    <div class="container">
        <dic class="card mt-4">
            <div class="card-header">
                <h2>Login de Admin</h2>
            </div>
            <div class="card-body">
                <form action="/authenticate" method="POST">
                    <input class="form-control" type="email" name="email" placeholder="email@exemplo.com"> <br>
                    <input class="form-control" type="password" name="password" placeholder="*******"> <br>
                    <button type="submit" class="btn btn-success btn-block"> Logar</button>
                </form>
            </div>
        </dic>
    </div>

<%- include ('../../partials/footer.ejs') %></div>